doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-Type',content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title Project title
    link(rel='stylesheet', id='mainStylesheet' href='../css/main.styl')
  body.darkmode
    #main
    #captureProgress
      .inner
        .title Exporting to video
        .progress
          span.name Capturing Frames
          span.bar
            .perc.capturing
        

    #settings
      .setting
        label.title Name
        input.exportable( name = 'name' type = 'text' autocomplete='off' autocorrect='off' autocapitalize='off' spellcheck='false' )
      .setting
        label.title Density
        input.triggerReset.exportable( name = 'density' type = 'range' min = '1' max = '32' step = '1' value = '12'  )
        input.valueShow
      .setting
        label.title Spread-x
        input.triggerReset.exportable( name = 'spreadx' type = 'range' min = '0' max = '1' step = '0.001' value = '1'  )
        input.valueShow
      .setting
        label.title Spread-y
        input.triggerReset.exportable( name = 'spready' type = 'range' min = '0' max = '1' step = '0.001' value = '0.6'  )
        input.valueShow
      .setting
        label.title Rotation
        input.triggerReset.exportable( name = 'rotation' type = 'range' min = '0' max = '1' step = '0.1' value = '0.5'  )
        input.valueShow
      .setting
        label.title Scale
        input.triggerReset.exportable( name = 'scale' type = 'range' min = '0' max = '1' step = '0.001' value = '0.9'  )
        input.valueShow
      .setting
        label.title Continuity
        input.triggerReset.exportable( name = 'continuity' type = 'range' min = '0' max = '1' step = '0.001' value = '0.2'  )
        input.valueShow
      .setting
        label.title Trail Opacity
        input.exportable( name = 'trail' type = 'range' min = '0' max = '1' step = '0.001' value = '0.35'  )
        input.valueShow
      .setting
        label.title Background
        input.exportable( name = 'bgcolor' type="color" value="#111111" )
        input.valueShow
      .setting
        label.title Transparent
        span.toggle
          input#transparentToggle( name = 'transparent' type = 'checkbox' )
          label( for = "transparentToggle" )
      .setting
        label.title Color
        input.exportable( name = 'fgcolor' type="color" value="#ff0000" )
        input.valueShow
      .setting
        label.title Hue Ramp
        input.triggerReset.exportable( name = 'ramp' type = 'range' min = '0' max = '1' step = '0.001' value = '0.1'  )
        input.valueShow
      .setting
        label.title Aspect ratio
        input( name = 'op' value = 0 type = 'radio' checked = 'checked' )
        label.ratioLabel Free
        input( name = 'op' value = '16_9' type = 'radio' )
        label.ratioLabel 16:9
        input( name = 'op' value = '9_16' type = 'radio' )
        label.ratioLabel 9:16
      .setting
        label.title
        input( name = 'op' value = '4_3' type = 'radio' )
        label.ratioLabel 4:3
        input( name = 'op' value = '3_4' type = 'radio' )
        label.ratioLabel 3:4
        input( name = 'op' value = '1_1' type = 'radio' )
        label.ratioLabel 1:1
      .setting
        label.title 
        input( name = 'op' value = 'custom' type = 'radio' )
        span #[input.ratioInput( name = 'rWidth' value = 1 type = 'text' )] : #[input.ratioInput( name = 'rHeight' value = 1 type = 'text' )]
      #botButs
        button.resetBut Reset
        button.saveBut Save settings
        button.downloadBut Export PNG
        button.exportVideoBut Export Video
      

    script(src='../js/main.js')